.avatar {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  margin-right: 10px;
  background-size: contain;
  background-position: center;
  transition: border-radius 325ms linear, background-color 0.2s linear;
  will-change: border-radius, background-color;
  i.bx {
    color: rgb(var(--vs-primary));
    font-size: 24px;
  }
  &.large {
    width: 48px;
    height: 48px;
  }
}

.thumbar {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.cover {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: contain;
  background-position: center;
}
