button.nn-btn {
  outline: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  font-weight: 500;
  min-height: 40px;
  white-space: nowrap;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
  text-overflow: ellipsis;
  text-align: center;
  height: 32px;
  background-color: var(--vs-theme-color);
  color: var(--vs-theme-layout2);
  position: relative;
  overflow: hidden;

  span.wave {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0;
  }

  &:hover,
  &:active,
  &:focus {
    &::before {
      opacity: 0.1;
    }
  }

  &.rund {
    border-radius: 20px;
  }

  &.block {
    width: 100%;
  }

  &.small {
    min-width: 68px;
    font-size: small;
    min-height: 28px;
  }

  &.text {
    background-color: var(--background-mentioned);
    color: var(--vs-theme-color);
    &:hover,
    &:focus,
    &:active {
      background-color: var(--background-mentioned-hover);
    }
  }

  &.icon {
    width: 32px;
    height: 32px;
    min-width: 0;
    min-height: 0;
    border-radius: 12px;
  }
}
