button.nn-btn {
  outline: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  font-weight: 500;
  min-height: 40px;
  white-space: nowrap;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
  text-overflow: ellipsis;
  text-align: center;
  height: 32px;
  background-color: #dcddde;
  color: #36393f;
  position: relative;
  overflow: hidden;

  span.wave {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: white;
  }

  &.rund {
    border-radius: 20px;
  }

  &.block {
    width: 100%;
  }

  &.small {
    min-width: 68px;
    font-size: small;
    min-height: 28px;
  }

  &.text {
    background-color: transparent;
    color: #dcddde;
    border: 1px solid #dcddde;
    &:hover,
    &:focus,
    &:active {
      background-color: rgba(#dcddde, 0.2);
    }
  }

  &.icon {
    width: 32px;
    height: 32px;
    min-width: 0;
    min-height: 0;
    border-radius: 12px;
  }
}

.tap {
  color: lightgray;
  cursor: pointer;
  font-size: small;
  user-select: none;
  line-height: 2.2;
  text-decoration: none;
  &:hover {
    color: whitesmoke;
  }
}
