.context {
  &-menus {
    position: absolute;
    z-index: 9;
    padding: 10px;
    background-color: #18191c;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.45);
    width: fit-content;

    &.bottom.left {
      transform-origin: top left;
    }

    &.bottom.right {
      transform-origin: top right;
    }

    &.bottom {
      bottom: calc(-100% - 15px);
    }
    &.right {
      right: 15px;
      border-radius: 18px 6px 18px 6px;
      .context-menu {
        &:first-of-type {
          border-radius: 15px 5px 3px 3px;
        }
        &:last-of-type {
          border-radius: 3px 3px 15px 5px;
        }
      }
    }
    &.left {
      left: 15px;
      border-radius: 6px 18px 6px 18px;
      .context-menu {
        &:first-of-type {
          border-radius: 5px 15px 3px 3px;
        }
        &:last-of-type {
          border-radius: 3px 3px 5px 15px;
        }
      }
    }
  }

  &-menu {
    padding: 6px 8px;
    min-width: 160px;
    user-select: none;
    color: #9fa4ab;

    &:active,
    &:hover,
    &:focus {
      background-color: #2a2c30;
      color: #dcddde;
    }
  }
}

.nn-context {
  position: relative;
  cursor: pointer;
  &-menus {
    position: absolute;
    z-index: 9;
    padding: 10px 0;
    border-radius: 3px;
    background-color: #18191c;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.45);
    width: fit-content;

    &.bottom.left {
      transform-origin: top left;
    }

    &.bottom.right {
      transform-origin: top right;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
    }
    &.top {
      bottom: calc(100% + 8px);
      &::before,
      &::after {
        border-left: 8px transparent dashed;
        border-right: 8px transparent dashed;
        border-bottom: 8px transparent dashed;
      }
      &:before {
        bottom: -17px;
        border-top: 8px #1d1e1e solid;
      }
      &::after {
        bottom: -16px;
        border-top: 8px #18191c solid;
      }
    }
    &.bottom {
      top: calc(100% + 8px);
      &::before,
      &::after {
        border-left: 8px transparent dashed;
        border-right: 8px transparent dashed;
        border-top: 8px transparent dashed;
      }
      &:before {
        top: -17px;
        border-bottom: 8px #1d1e1e solid;
      }
      &::after {
        top: -16px;
        border-bottom: 8px #18191c solid;
      }
      .form-contrl {
        &:first-of-type {
          border-bottom: 1px solid #464646;
        }
      }
    }

    &.right {
      right: 15px;
      &::before,
      &::after {
        right: 15px;
      }
    }
    &.left {
      left: 15px;
      &::before,
      &::after {
        left: 15px;
      }
    }
  }

  &-menu {
    padding: 6px 8px;
    min-width: 160px;
    user-select: none;
    color: #9fa4ab;

    &:active,
    &:hover,
    &:focus {
      background-color: #2a2c30;
      color: #dcddde;
    }
  }
}
