.nn-dialog {
  bottom: 0;
  top: 0;
  z-index: 99;
  padding: 0;
  border: 0;
  min-width: 35vw;
  min-height: 37vh;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: var(--elevation-medium);
  background-color: var(--background-primary);
  color: var(--interactive-active);
  transition: all 2s linear;
  & + .backdrop {
    background: rgba(0, 0, 0, 0.4);
    z-index: 9;
  }

  &:not([open]) {
    display: none !important;
  }

  &[open='open'] {
    animation: scale 0.2s linear;
  }
  &-close {
    position: absolute !important;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 50%;
    box-shadow: var(--elevation-high);
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #72767d;
    color: #36393f;
    &:hover {
      box-shadow: var(--elevation-medium);
      color: white;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 10px 16px;
  }

  &-body {
    width: 100%;
    flex: 1;
    padding: 10px 20px;
  }

  &-footer {
    width: 100%;
    height: 55px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    button {
      & + button {
        margin-left: 10px;
      }
    }
  }
}

[v-cloak] {
  display: none;
}
