.nn-dialog {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background: rgba(0, 0, 0, 0.4);
  &-close {
    position: absolute !important;
    top: 16px;
    right: 16px;
    font-size: 32px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
    // background-color: #72767d;
    background-color: transparent;
    color: darkgray;
    &:hover {
      color: white;
    }
  }

  &-content {
    min-width: 35vw;
    min-height: 37vh;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
    box-shadow: var(--elevation-medium);
    background-color: var(--background-primary);
    color: var(--interactive-active);
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 10px 16px;
  }

  &-body {
    width: 100%;
    flex: 1;
    padding: 10px 20px;
  }

  &-footer {
    width: 100%;
    height: 55px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    button {
      & + button {
        margin-left: 10px;
      }
    }
  }
}

[v-cloak] {
  display: none;
}
