form.form {
  width: -webkit-fill-available;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  &.border {
    border: 1px solid darkgray;
    border-radius: 4px;
  }
}

.form-contrl {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  min-height: 40px;
  background-color: #2d2f34;
  border: 1px solid #222428;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0) inset;
  transition: box-shadow 0.2s linear;
  will-change: box-shadow;
  label {
    line-height: 0;
  }
  &:focus-within {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2) inset;
  }
  &:hover {
    .form-clear {
      display: block;
    }
  }
  // &:first-of-type {
  //   border-radius: 3px 3px 0 0;
  // }
  // &:last-of-type {
  //   border-radius: 0 0 3px 3px;
  // }
  & + .form-contrl {
    margin-top: 2 * $n;
  }

  &.border {
    border: 1px solid darkgray;
  }
  &.with-after,
  &.with-before {
    input {
      overflow: hidden;
    }
  }
  &.with-after {
    .form-clear {
      right: 74px;
    }
  }
  i.form-icon {
    width: 20px;
    text-align: center;
    color: #72767d;
  }
  svg.form-icon {
    width: 20px;
    height: 20px;
    margin: 0 $n;
  }
  input {
    &.form-input {
      width: fit-content;
      height: inherit;
      line-height: 1.4;
      margin-left: $n;
      flex: 1;
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      caret-color: darkgray;
      overflow: hidden;
      letter-spacing: 2pt;
    }
  }
  .form-clear {
    color: lightgray;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    &:hover {
      color: whitesmoke;
    }
  }
  &__before {
    margin-right: 4px;
    margin-left: 4px;
    cursor: default;
    color: lightgray;
    text-align: center;
    min-width: 50px;
  }

  .verify {
    flex: 1;
    line-height: 31px;
    text-align: start;
    color: lightgray;
    font-size: small;
    display: flex;
    align-items: center;
  }
}

.bubble {
  width: 12px;
  height: 12px;
  background-color: #72767d;
  border-radius: 50%;
  display: inline-block;
  margin: 0 16px;
  position: relative;
  &::before {
    content: '';
    width: 24px;
    height: 24px;
    background-color: rgba(whitesmoke, 0.2);
    border-radius: 50%;
    position: absolute;
    left: -6px;
    top: -6px;
    animation: scale-pin 625ms linear infinite alternate;
  }
}
