@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: scale(0);
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
  transform: scale(1);
}

.scale-enter-active,
.scale-leave-active {
  transition: transform 0.2s linear;
}

.scale-enter,
.scale-leave-to {
  transform: scale(0);
}

.scale-enter-to,
.scale-leave {
  transform: scale(1);
}
